@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

header {
  background: rgb(236, 227, 194);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px 25px 10px 25px;
  position: fixed;
  top: 0;
}

.logo {
  height: 100%;
}

.navbar,
.listaNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listaNavbar {
  gap: 30px;
  font-family: "Open Sans", sans-serif;
}
.listaNavbar a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: solid;
}
